title = "Film"
url = "/films/film/:slug"
layout = "default"
is_hidden = 0

==
<?

use Webmaster\Movies\Models\Movie;

function onStart()
{
    $this['movie'] = Movie::where('slug', '=', $this->param('slug'))->first();
}
?>
==


{% if movie %}
<img src="{{ movie.poster.thumb(200, auto) }}" alt="Poster film">



<h2> {{ movie.name }}</h2>
{{ movie.year }}


<h3>Acteurs</h3>
{% for actor in movie.actors %}
<p>{{ actor.name_actor }}</p>
{% endfor %}



<h3>Genre</h3>
{% for genre in movie.genres %}
<p>
    <a href="/projetTestOctoberCMS/genres/{{genre.slug}}">{{genre.name_genre}}</a>
</p>

{% endfor %}

<h3>Description</h3>


<p>
    {{ movie.description|raw }}
</p>
<h3>Gallerie d'image</h3>
<ul class="gallery clearfix">
    <li>
        {% for image in movie.movie_gallery %}
        <img src="{{ image.thumb(80, auto) }}" /><br>
        {% endfor %}
    </li>
</ul>


{% else %}
{{ notFoundMessage }}
{% endif %}